<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"> <!-- nao precisa escrever public -->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <title>Guia Perguntas</title>
</head>
<body>
    <div class="container">

        <div class="card">
            <div class="card-header">
                <h3   h3>Realizar Pergunta</h3>
            </div>

            <div class="card-body">
                <form>
                    <label for="title">Título</label>
                    <input type="text" class="form-control" name="title" id="title">
                    <label for="description mt-2">Descrição</label>
                    <textarea class="form-control" name="description" id="description" placeholder="Descreva sua pergunta aqui"></textarea>
                    <button class="btn btn-success mt-2">Perguntar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<!-- a importação tem que ser nessa ordem -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
</html>